<!DOCTYPE html>
<html lang="en">
  <head>
        <title>MealDetails</title>
  </head>
  <body>
    
    <main>
        <ul>
            <li>

              <img src=<%= book.imageUrl %>>
             <h3> <%= book.mealsName %> </h3>
              <i><%= book.category %></i>
              <p><%= book.area %></p>
              <p><%= book.instruction %></p>
             <button> <a href="<%= book.youtube %>" target='_blank'>youtube</a></button> 
                           
           </li>
          </ul>
    </main>
    </body>
</html>




