<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="">Random Meals</a>
            <a href="/saved">favorite</a>
            <a href="">About us</a>
        </nav>
    </header>
    <form action="/updated/<%- meal.id %>" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="text" name="mealsname" value="<%= meal.mealsname %>">
        <input type="text" name="category" value="<%= meal.category %>">
        <input type="text" name="area" value="<%= meal.area %>">
        <input type="text" name="instruction" value="<%= meal.instruction %>">
        <input type="text" name="imageurl" value="<%= meal.imageurl %>">
        <input type="text" name="youtube" value="<%= meal.youtube %>">
        <input type="text" name="noin1" value="<%= meal.noin1 %>">
        <input type="text" name="noin2" value="<%= meal.noin2 %>">
        <input type="text" name="noin3" value="<%= meal.noin3 %>">
        <input type="text" name="noin4" value="<%= meal.noin4 %>">
        <input type="text" name="noin5" value="<%= meal.noin5 %>">
        <input type="text" name="noin6" value="<%= meal.noin6 %>">
        <input type="text" name="noin7" value="<%= meal.noin7 %>">
        <input type="text" name="noin8" value="<%= meal.noin8 %>">
        <input type="text" name="noin9" value="<%= meal.noin9 %>">
        <input type="text" name="noin10" value="<%= meal.noin10 %>">
        <input type="text" name="noin11" value="<%= meal.noin11 %>">
        <input type="text" name="noin12" value="<%= meal.noin12 %>">
        <input type="text" name="noin13" value="<%= meal.noin13 %>">
        <input type="text" name="noin14" value="<%= meal.noin14 %>">
        <input type="text" name="noin15" value="<%= meal.noin15 %>">
        <input type="text" name="noin16" value="<%= meal.noin16 %>">
        <input type="text" name="noin17" value="<%= meal.noin17 %>">
        <input type="text" name="noin18" value="<%= meal.noin18 %>">
        <input type="text" name="noin19" value="<%= meal.noin19 %>">
        <input type="text" name="noin20" value="<%= meal.noin20 %>">
        <input type="text" name="nome1" value="<%= meal.nome1 %>">
        <input type="text" name="nome2" value="<%= meal.nome2 %>">
        <input type="text" name="nome3" value="<%= meal.nome3 %>">
        <input type="text" name="nome4" value="<%= meal.nome4 %>">
        <input type="text" name="nome5" value="<%= meal.nome5 %>">
        <input type="text" name="nome6" value="<%= meal.nome6 %>">
        <input type="text" name="nome7" value="<%= meal.nome7 %>">
        <input type="text" name="nome8" value="<%= meal.nome8 %>">
        <input type="text" name="nome9" value="<%= meal.nome9 %>">
        <input type="text" name="nome10" value="<%= meal.nome10 %>">
        <input type="text" name="nome11" value="<%= meal.nome11 %>">
        <input type="text" name="nome12" value="<%= meal.nome12 %>">
        <input type="text" name="nome13" value="<%= meal.nome13 %>">
        <input type="text" name="nome14" value="<%= meal.nome14 %>">
        <input type="text" name="nome15" value="<%= meal.nome15 %>">
        <input type="text" name="nome16" value="<%= meal.nome16 %>">
        <input type="text" name="nome17" value="<%= meal.nome17 %>">
        <input type="text" name="nome18" value="<%= meal.nome18 %>">
        <input type="text" name="nome19" value="<%= meal.nome19 %>">
        <input type="text" name="nome20" value="<%= meal.nome20 %>">
        <button>Update Details</button>
    </form>
</body>

</html>